name: Playwright Tests
on:
  push:
    branches: [ main, master ]

permissions:
  contents: write
  pages: write

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # don't stop all tests if one fails
      matrix:
        browser: [chromium, firefox] # run tests on both browsers

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          playwright install --with-deps

      - name: Run tests
        # Add browser name to results folder to avoid overwriting
        run: pytest --browser ${{ matrix.browser }} --alluredir=allure-results/${{ matrix.browser }}
        continue-on-error: true

      - name: Allure Report Action
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          allure_results: allure-results
          allure_history: allure-history
          keep_reports: 20

      - name: Deploy to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-history
          publish_branch: gh-pages 